.Just__Text{
    text-align: justify;
}


.Custom__Bullet{
    list-style-type:disc;   
}

.borderland {
    font-size: 1.2em;
		font-weight: bolder;
        list-style-type: disc;
    padding-left: 20px;
	/*	line-height: 6; esto agrega 6 espaciosxlñ..,.f*/
}
.borderland__DOS {
    font-size: 1.2em;
		
        list-style-type: disc;
    padding-left: 50px;
	/*	line-height: 6; esto agrega 6 espaciosxlñ..,.f*/
}

