/*Estilos de productos*/
:root {
    --color-Uno: #ff0051;
    --color-Fondo-Obscuro: #01181f;
    --color-Fondo-Claro: #f0f0f0;
    --color-dos: #e4e4e4;
    --sombra-rojo: #f72f6e;
    --color-borde-gris: #ccc;
}

.main {
    padding: 0 20px;
    /*agregar un padding de 20px a los costados del main*/
}

.container-products {
    display: grid;
    /*volver los contenidos en tablas, rejillas*/
    grid-template-columns: repeat(1, 1fr);
    /*hacer que los elementos esten en 2 columnas y luego que tengan el mismo tamaño*/
    grid-gap: 15px;
    /*Agregar un espacio entre las rejillas*/
}

.producto {
    border: 1px solid var(--color-borde-gris);
    padding: 20px;
    width: 100%;
    text-align: center;
    position: relative;
}

.producto>::before {
    content: "Nuevo";
    background: var(--color-Uno);
    padding: 10px;
    width: 60px;
    /*Tamaño de la etiqueta nuevo*/
    position: absolute;
    top: 20px;
    right: 10px;
    transform: rotate(-90deg);
    color: var(--color-dos);
}

.product__img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.product__title {
    text-align: center;
}

.product__price {
    color: var(--color-Uno);
    font-weight: bold;
}

.product__icon {
    display: block;
    margin: 10px;
    /*agregar un margen de arriba y abajo del boton del carrito*/
}

/*responsive para tablet*/
@media screen and (min-width:600px) {
    .container-products {
        /*volver los contenidos en tablas, rejillas*/
        grid-template-columns: repeat(2, 1fr);
    }

    .product__img {
        width: 100%;
        height: 120px;
        object-fit: cover;
    }
}

/*responsive para tablet*/
@media screen and (min-width:768px) {

    .product__img {
        height: 180px;
    }

    .producto:hover .product__icon {
        /*esta funcion indica que cuando se pase el mouse ensima del contenedor que contiene las propiedades de los productos hara alguna accion en la propiedad product__icon*/
        color: var(--color-Uno);
        cursor: pointer;
    }

}

/*responsive para equipos resolucion mayor a 100megapixeles*/
@media screen and (min-width:1000px) {
    .container-products {
        grid-template-columns: repeat(4, 1fr);
        /*hacer que los elementos esten en 2 columnas y luego que tengan el mismo tamaño*/
    }

    .product__img {
        height: 150px;
    }
}

@media screen and (min-width:1500px) {
    .product__img {
        height: 230px;
    }
}


@media screen and (min-width:1900px) {
    .product__img {
        height: 250px;
    }
}