/*https://bytewebster.com/*/
/*https://bytewebster.com/*/
/*https://bytewebster.com/*/

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Roboto:wght@300;400;500&display=swap");


:root {
  --color-Uno: #f50987;
  --color-Fondo: #01181f;
  --color-dos: #ededed;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.imagen-fondo{
  background: #01181f;
}

.micarrusel {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
background: #01181f;
  overflow: hidden;
  top: -25px;
}

.swiper {
  width: 100%;
  padding-top: -10vb;
  padding-bottom: 25vb;
}

.swiper-slide {
  width: 500px;
  height: 300px;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
  filter: blur(1px);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: self-start;
}

.swiper-slide-active {
  filter: blur(0px);
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  background: #fff;
}

.swiper-slide span {
  text-transform: uppercase;
  color: #fff;
  background: #1b7402;
  padding: 7px 18px 7px 25px;
  display: inline-block;
  border-radius: 0 20px 20px 0px;
  letter-spacing: 2px;
  font-size: 0.8rem;
  font-family: "Open Sans", sans-serif;
}

.swiper-slide--one span {
  background: var(--color-Uno);
  color: var(--color-Fondo);
}

.swiper-slide--two span {
  background:var(--color-Fondo);
color:var(--color-Uno);
}


/*
.swiper-slide--three span {
  background: #b45205;
}

.swiper-slide--four span {
  background: #087ac4;
}*/

.swiper-slide h2 {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.4;
  margin-bottom: 15px;
  padding: 25px 45px 0 25px;
}

.swiper-slide p {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  display: flex;
  align-items: center;
  padding: 0 25px 35px 25px;
  text-align: justify;
}

.swiper-slide svg {
  color: #fff;
  width: 22px;
  height: 22px;
  margin-right: 7px;
}

.swiper-slide--one {
  background: linear-gradient(to top, #33031d93, #203a4300, #2c536400),
    url(../img/Fondo_Ruleta2.svg) no-repeat 50% 50% / cover;
}

.swiper-slide--two {
  background: linear-gradient(to top, #33031d93, #00bfff00, #642c3a00),
  url(../img/Fondo_Ruleta.svg) no-repeat 50% 50% / cover;
}


.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
  background-image: none;
}




@media (max-width:600px) {
 
.micarrusel {
  position: relative;
  width: 100%;
  min-height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
background: #01181f;
  overflow: hidden;
  top: -5px;
}


  .swiper-slide {
    width: 300px;
    height: 500px;

    margin-bottom: -18vb;
  }




}




@media (min-width:601px) {
 
  .micarrusel {
   
    top: -5px;
  }
  

  
  
  }